body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
}
body {
	min-height: 100vh;
	position: relative;
	margin: 0;
	font-family: monospace;
	color: #606975;
	font-size: 14px;
	font-weight: normal;
	text-transform: none;
  line-height: 1.5;
  background-color: #eff3f9;  
}

.nav-fixed .topnav {
  z-index: 1039;
}
.topnav {
  padding-left: 0;
  height: 3.625rem;
  z-index: 1039;
  font-size: 0.9rem;
}
.fixed-top, .nav-fixed #layoutSidenav #layoutSidenav_nav, .nav-fixed .topnav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  
}

.topnav .navbar-brand {
  width: 15rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}

.topnav.navbar-light .navbar-brand {
  color: #323f52;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.nav-fixed #layoutSidenav #layoutSidenav_nav {
  width: 15rem;
  height: 100vh;
  z-index: 1038;
}

.bg-gradient-primary {
    background-color: #6c757d;
    background-image: none;     
}

.form-control{
		padding: 0.075rem .25rem;
		font-size: 14px;
		height: 30px;
}

.col-form-label {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}




/* Tabs panel */
.tabbable-panel {
  border:1px solid #eee;

}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 20px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 3%;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li > a:hover {
	text-decoration:none;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li  > a.active {
  border-bottom: 4px solid #f3565d;
  position: relative;
      font-weight: bold;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #f3565d;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
  border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a :hover{
	text-decoration:none;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
  margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
  border-bottom: 0;
  border-top: 4px solid #fbcdcf;
}
.tabbable-line.tabs-below > .nav-tabs > li > a.active {
  margin-bottom: -2px;
  border-bottom: 0;
  border-top: 4px solid #f3565d;
}
.tabbable-line.tabs-below > .tab-content {
  margin-top: -10px;
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}

legend{
	font-size: 1.2em !important;
	font-weight: bold !important;
	text-align: left !important;
	width:auto;
	padding:0 10px;
	border-bottom:none;
}

fieldset.border {
	border: 1px groove #ddd !important;
	padding: 0 1.4em 1.4em 1.4em !important;
	margin: 0 0 1.5em 0 !important;
	-webkit-box-shadow:  0px 0px 0px 0px #000;
	box-shadow:  0px 0px 0px 0px #000;
}
.form-group{
	text-align:left;
}


.tabs {
  max-width: 640px;
  margin: 0 auto;
  padding: 0 20px;
}
#tab-button {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
#tab-button li {
  display: table-cell;
  width: 20%;
}
#tab-button li a {
  display: block;
  padding: .5em;
  background: #eee;
  border: 1px solid #ddd;
  text-align: center;
  color: #000;
  text-decoration: none;
}
#tab-button li:not(:first-child) a {
  border-left: none;
}
#tab-button li a:hover,
#tab-button .is-active a {
  border-bottom-color: transparent;
  background: #fff;
}
.tab-contents {
  padding: .5em 2em 1em;
  border: 1px solid #ddd;
}



.tab-button-outer {
  display: none;
}
.tab-contents {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .tab-button-outer {
    position: relative;
    z-index: 2;
    display: block;
  }
  .tab-select-outer {
    display: none;
  }
  .tab-contents {
    position: relative;
    top: -1px;
    margin-top: 0;
  }
}

.btn-transparent-dark:not(:disabled):not(.disabled):active, .btn-transparent-dark:not(:disabled):not(.disabled).active, .show > .btn-transparent-dark.dropdown-toggle {
  color: #fff;
  background-color: rgba(31, 45, 65, 0.125);
  border-color: transparent;
}

.btn-transparent-dark:focus {
  box-shadow: 0 0 0 0.2rem rgba(31, 45, 65, 0.25) !important;
}

.btn-transparent-dark:hover {
  color: #fff;
  background-color: rgba(31, 45, 65, 0.1);
  border-color: transparent;
}

.btn:hover {
  color: #687281;
  text-decoration: none;
}

.btn-icon {
  padding: 0;
  justify-content: center;
  overflow: hidden;
  border-radius: 100%;
  flex-shrink: 0;
  height: calc( (1rem * 1.5) + (0.5rem * 2) + (2px)) !important;
  width: calc( (1rem * 1.5) + (0.5rem * 2) + (2px)) !important;
}


.tab {overflow: hidden; border: 1px solid #ccc; 
  background-color: #f1f1f1;}
  
  .tabcontent {display: none; padding: 6px 12px; border: 1px solid #ccc;
      border-top: none;}
      
  .tab button {background-color: inherit; float: left; border: none;
      outline: none; cursor: pointer; padding: 14px 16px; 
      transition: 0.3s;}
      
  .tab button:hover {background-color: #ddd;}
  
  .tab .active {background-color: #ccc;}
  
  .tabcontent {display: none; padding: 6px 12px;
  
  border: 1px solid #ccc; border-top: none;}
  
  table {font-family: arial, sans-serif; border-collapse: collapse;
      width: 100%;}
  
  td, th {border: 1px solid #dddddd; padding: 8px; 
      text-align: center;}
  
  /*Change color to gray*/
  tr:nth-child(even) {
      background-color: #dddddd;}
  
  .actived a{color:green}
  .actived a:hover{ font-weight: bold}
  
  .deactivated a{color:red}
  .deactivated a:hover{ font-weight: bold}
  
  .available {color:green; }
  .disable{ color: red; font-weight: bold}
  .intraining{color: blue; font-weight: bold}
  .vacation{ font-weight: bold}
  