.reviewList {
    height: 340px;
    overflow: scroll;
}

.reviewList .reviewListItem {
    position: relative;
    margin-top: 20px;
    margin-bottom: 25px;
}

.reviewList .reviewListItem .reviewIconBlock {
    display: inline-block;
    width: 15%;
}

.reviewList .reviewListItem .reviewIconBlock .reviewIconImg {
    position: absolute;
    top: 0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.reviewList .reviewListItem .reviewTextBlock {
    display: inline-block;
    width: 85%;
}
.reviewList .reviewListItem .reviewTextBlock .rightSpan {
    float: right;
    color: grey;
    font-size: 12px;
}

.reviewList .reviewListItem .reviewTextBlock .rivewerName {
    font-size: 14px;
    font-weight: 300;
    color: #323643;
}

.reviewList .reviewListItem .reviewTextBlock .starButtonToolbar {
    margin-left: 1px;
    display: inline-block;
    margin-bottom: -5px;
}

.reviewList .reviewListItem .reviewTextBlock .starButtonToolbar .starButtonActive {
    padding: 0;
    margin: 0;
    margin-right: 1px;
    color: #F6A623;
    border: none;
    outline: none;
}

.reviewList .reviewListItem .reviewTextBlock .starButtonToolbar .starButton {
    padding: 0;
    margin: 0;
    margin-right: 1px;
    color: grey;
    border: none;
    outline: none;
}