.wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #accffe;
}

.form-holder {
    position: relative;
    margin-bottom: 21px;
}

.form-holder span {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
    color: #333;
}
.image-2 {
    position: absolute;
    bottom: 100px;
    right: 275px;
}
.image-1 {
    position: absolute;
    bottom: 100px;
    left: 275px;
    z-index: 99;
}

.lnr {
    font-family: linearicons-free;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.form-holder .form-control {
    padding: 3px 42px 0;    
}

h3 {
    text-transform: uppercase;
    font-size: 25px;
    font-family: muli-semibold;
    color: #333;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 33px;
}

form {
    width: 100%;
    position: relative;
    z-index: 9;
    padding: 77px 61px 66px;
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
    -ms-box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
    -o-box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
}

button {
    border: none;
    width: 100%;
    height: 49px;
    margin-top: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #9cf;
    color: #fff;
    text-transform: uppercase;
    font-family: muli-semibold;
    font-size: 15px;
    letter-spacing: 2px;
    transition: all .5s;
    position: relative;
    overflow: hidden;
}